.jumbotron {
  text-align: center;
  background-image: url(http://www.rhtlawtaylorwessing.com/wp-content/uploads/2017/11/Page-Header_Tech-Comms.jpg);
  background-size: cover;
  color: white;
  font-family: 'Farsan', cursive;
}

.jumbotron h1 {
  font-family: 'Faster One', cursive;
  color: white;
}

h2 {
  background-image: url(http://www.rhtlawtaylorwessing.com/wp-content/uploads/2017/11/Page-Header_Tech-Comms.jpg);
  background-position: left;
  color: white;
  font-family: 'Farsan', cursive;
  display: inline-block;
}

label {
  font-family: 'Farsan', cursive;
  font-size: 20px;
  color: #8fbed7;
}
.result {
  display: none;
}

.result-block {
  display: none;
}

#ruby-path {
  color: red;
}
#php-path {
  color: green;
}
#java-path {
  color: blue;
}
#css-path {
  color: brown;
}
#csharp-path {
  color: orange;
}

.well {
  text-align: center;
}

.btn {
  margin: 10px;
  background-color: #8fbed7;
  font-family: 'Faster One', cursive;
  color: ;
  font-size: 18px;
}
