.jumbotron {
  text-align: center;
  background-image: url(http://www.rhtlawtaylorwessing.com/wp-content/uploads/2017/11/Page-Header_Tech-Comms.jpg)
}

.result {
  display: none;
}

.result-block {
  display: none;
}

#ruby-path {
  color: red;
}
#php-path {
  color: green;
}
#java-path {
  color: blue;
}
#css-path {
  color: brown;
}
#csharp-path {
  color: orange;
}

.well {
  text-align: center;
}
